/* stylelint-disable scss/at-mixin-pattern */

@mixin Kreon-UltraThin {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 100;
  font-weight: normal;
}

@mixin Kreon-Thin {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 200;
  font-weight: normal;
}

@mixin Kreon-Light {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 300;
  font-weight: normal;
}

@mixin Kreon-Regular {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 400;
  font-weight: normal;
}

@mixin Kreon-Medium {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 500;
  font-weight: normal;
}

@mixin Kreon-SemiBold {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

@mixin Kreon-Bold {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 700;
  font-weight: normal;
}

@mixin Kreon-Black {
  font-family: Kreon, sans-serif;
  font-variation-settings: 'wght' 900;
  font-weight: normal;
}

@mixin Podkova-UltraThin {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 100;
  font-weight: normal;
}

@mixin Podkova-Thin {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 200;
  font-weight: normal;
}

@mixin Podkova-Light {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 300;
  font-weight: normal;
}

@mixin Podkova-Regular {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 400;
  font-weight: normal;
}

@mixin Podkova-Medium {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 500;
  font-weight: normal;
}

@mixin Podkova-SemiBold {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

@mixin Podkova-Bold {
  font-family: Podkova, sans-serif;
  font-variation-settings: 'wght' 700;
  font-weight: normal;
}

/* stylelint-enable scss/at-mixin-pattern */
