@font-face {
  font-family: 'Kreon';
  src: url('../fonts/Kreon-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Podkova';
  src: url('../fonts/Podkova-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Indie Flower';
  src: url('../fonts/IndieFlower-Regular.ttf');
}
